GOOGLE_API_KEY=
DATABASE_URL=postgresql://postgres:motdepasse@db:5432/daisy_consulting
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
FRONTEND_URL=http://localhost:8080